@import './variables.scss';

.custom-accordian {
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    background-color: #ecececb3;
    border-radius: 5px;
    gap: 20px;

    .title {
        color: #222;
        line-height: 1;
        color: #fff;
        cursor: pointer;
    }

    .last-updated,
    .subtopic-len {
        display: flex;
        align-items: center;
    }

    .last-updated span,
    .subtopic-len span {
        font-size: 14px;
    }

    .last-updated svg,
    .subtopic-len svg {
        color: #fff;
        margin-right: 5px;
        font-size: 20px;
        font-weight: 450;
    }
}

.accordian-main-body {
    border: 1px solid rgba($color: #000000, $alpha: .25);
}

#learning-mai-wrapper {
    display: grid;
    grid-template-columns: 350px calc(100vw - 360px);
}

@media screen and (max-width: 992px) {
    #learning-mai-wrapper {
        display: block;
    }

    #learning-main-body {
        border: unset !important;
    }
}

pre {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    max-width: 95vw;
    overflow: auto;
}

#course-learning-main-container {
    img {
        max-width: 100%;
        object-fit: contain;
    }
}

@media screen and (max-width: 768px) {
    #course-learning-main-container {
        ul,
        ol {
            padding-left: 15px;
        }

        p {
            &:has(img) {
                margin: 0 !important;
            }

            img {
                width: 100% !important;
            }
        }

        iframe {
            max-width: 100%;
        }
    }
}