@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./variables.scss";

* {
    font-family: "Poppins", sans-serif !important;
}

.btn-reset {
    all: unset;
    cursor: pointer;

    &:focus {
        box-shadow: none;
    }
}

.mainNav {
    background-color: rgba($color: #fff, $alpha: 0.3);
    box-shadow: 0 1px 3px rgba($color: #000000, $alpha: 0.3);
    backdrop-filter: blur(5px);
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

.icon-btn-shaded {
    @include bg-theam();
    @include center-center();
    height: 35px;
    width: 35px;
    border-radius: 5px;
    box-shadow: 3px 3px 0 rgba($color: $theam-color, $alpha: 0.5);
    transition: 0.5s;

    span {
        line-height: 1;
        color: #fff;
        font-size: 18px;
    }

    &:hover {
        transform: scale(1.1);
        transition: 0.25s;
    }
}

.line-height-1 {
    line-height: 1;
}

.theam-btn-big {
    @include bg-theam();
    text-decoration: none;
    padding: 12px 17px;
    border-radius: 10px;
    display: flex;
    gap: 3px;
    width: fit-content;
    transition: 0.3s;

    span {
        color: #fff;
        font-size: 23px;
        line-height: 1;

        &:nth-child(2) {
            font-size: 16px;
            @include center-center();
        }
    }

    &:hover {
        box-shadow: 3px 3px 0 rgba($color: $theam-color, $alpha: 0.5);
        transition: 0.3s;
    }
}

.shadow-text {
    position: relative;
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    margin: 0 auto;

    span {
        text-transform: capitalize;

        &:first-child {
            position: relative;
            z-index: -1;
            font-size: 60px;
            font-weight: 800;
            line-height: 50px;
            background-image: linear-gradient(to bottom, #dddddd, #e5e5e5, #eeeeee, #f6f6f6, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &:nth-child(2) {
            position: relative;
            z-index: 1;
            font-size: 40px;
            font-weight: 800;
            color: var(--firstcolor);
            line-height: 1;
        }
    }

    p {
        top: calc(1rem + 0.7rem);
        left: 5.8rem;
        position: relative;
        background-color: var(--secondcolor);
        height: 0.5rem;
        width: 7.3rem;
        z-index: 2;
        font-weight: 600;
    }
}

.width-fit {
    width: fit-content !important;
}

.line-height-1-1 {
    line-height: 1.1;
}

.border-color-theam {
    border-color: $theam-color !important;
}

.user-select-none {
    user-select: none;
}
