@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./variables.scss";
@import "./animation.scss";

* {
    font-family: "Poppins", sans-serif;
}

*::selection {
    background-color: $theam-color;
    color: #fff;
}

@mixin font-cursive() {
    font-family: "Great Vibes", cursive;
}

.font-cursive {
    @include font-cursive();
}

.testimonial-custom-font {
    @include font-cursive();
    color: #fff;
    font-size: 4rem;
    letter-spacing: 3px;
    display: block;
}

.btn-reset {
    all: unset;
    cursor: pointer;

    &:focus {
        box-shadow: none;
    }
}

.mainNav {
    background-color: rgba($color: #fff, $alpha: 0.15);
    box-shadow: 0 1px 3px rgba($color: #000000, $alpha: 0.3);
    backdrop-filter: blur(5px);
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

.icon-btn-shaded,
.icon-btn-shaded-red {
    @include bg-theam();
    @include center-center();
    height: 35px;
    width: 35px;
    border-radius: 5px;
    box-shadow: 3px 3px 0 rgba($color: $theam-color, $alpha: 0.5);
    transition: 0.1s;

    span {
        line-height: 1;
        color: #fff;
        font-size: 18px;
    }

    &:hover {
        transform: scale(1.1);
        transition: 0.1s;
    }
}

.icon-btn-shaded-red {
    @include bg-theam-2();
    box-shadow: 3px 3px 0 rgba($color: $theam-color-2, $alpha: 0.5) !important;
}

.line-height-1 {
    line-height: 1;
}

.theam-btn-big {
    @include bg-theam();
    text-decoration: none;
    padding: 12px 17px;
    border-radius: 10px;
    display: flex;
    gap: 3px;
    width: fit-content;
    box-shadow: 3px 3px 0 rgba($color: $theam-color, $alpha: 0.5);
    transition: 0.1s;

    span {
        color: #fff;
        font-size: 23px;
        line-height: 1;

        &:nth-child(2) {
            font-size: 16px;
            @include center-center();
        }
    }

    &:hover,
    &:target,
    &:focus {
        transform: scale(1.03);
        transition: 0.1s;
    }
}

.theam-btn-big-2 {
    @include bg-theam-2();
    text-decoration: none;
    padding: 12px 17px;
    border-radius: 10px;
    display: flex;
    gap: 3px;
    width: fit-content;
    box-shadow: 3px 3px 0 rgba($color: $theam-color-2, $alpha: 0.5);
    transition: 0.1s;

    span {
        color: #fff;
        font-size: 23px;
        line-height: 1;

        &:nth-child(2) {
            font-size: 16px;
            @include center-center();
        }
    }

    &:hover,
    &:target,
    &:focus {
        transform: scale(1.03);
        transition: 0.1s;
    }
}

.shadow-text {
    position: relative;
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    span {
        text-transform: capitalize;
        text-align: center;

        &:first-child {
            position: relative;
            z-index: -1;
            font-size: 60px;
            font-weight: 800;
            line-height: 50px;
            background-image: linear-gradient(to bottom, #dddddd, #e5e5e5, #eeeeee, #f6f6f6, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &:nth-child(2) {
            position: relative;
            z-index: 0;
            font-size: 40px;
            font-weight: 800;
            color: var(--firstcolor);
            line-height: 1;
        }
    }

    p {
        top: calc(1rem + 0.7rem);
        left: 5.8rem;
        position: relative;
        background-color: var(--secondcolor);
        height: 0.5rem;
        width: 7.3rem;
        z-index: 2;
        font-weight: 600;
    }
}

.width-fit {
    width: fit-content !important;
}

.line-height-1-1 {
    line-height: 1.1;
}

.border-color-theam {
    border-color: $theam-color !important;
}

.user-select-none {
    user-select: none;
}

.home-scren-1st-vh {
    height: calc(100vh - 56px);

    img {
        width: 80%;
        object-position: center;
    }
}

#skills {
    background-image: url("../assets/protruding-squares.svg");
    background-attachment: fixed;
}

.skill-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

    .skill-box {
        @include center-center();
        border-radius: 7px;
        transition: 0.15s;
        user-select: none;

        .wrapper {
            @include center-center();
            flex-direction: column;
            background: #fff;
            margin: 3px;
            height: 120px;
            width: 120px;
            border-radius: 5px;
            box-shadow: 3px 3px rgba($color: #000, $alpha: 0.7);
            transition: 0.15s;
            gap: 5px;

            .icon {
                svg {
                    font-size: 35px;
                    color: var(--svg-color);
                }
            }
        }

        &:hover {
            transition: 0.15s;
            transform: translate(-3px, -3px);

            .wrapper {
                box-shadow: 5px 5px rgba($color: #000, $alpha: 0.7);
                transition: 0.15s;
            }
        }
    }
}

.shaded-box {
    background-color: rgba($color: #fff, $alpha: 0.6);
    backdrop-filter: blur(5px);
}

.shaded-box {
    ul [role="presentation"] {
        .active {
            background-color: $theam-color !important;
            border: 0;
            color: #fff;
            padding: 5px 13px;
            text-transform: uppercase;
            border-radius: 5px;
            box-shadow: 3px 3px rgba($color: $theam-color, $alpha: 0.5);
            font-weight: 600;
        }
    }
}

.btn-reset-0 {
    border: 0;
    background-color: transparent;
}

.up-left-shadow-effect {
    box-shadow: 3px 3px rgba($color: $theam-color, $alpha: 0.5);
}

#navbarSupportedContent {
    * {
        letter-spacing: 1px;
    }

    :not(.active) {
        font-weight: 400;
        text-transform: uppercase;
    }

    .active {
        font-weight: 650;
        color: inherit;
    }
}

.detailsBox-v2 {
    @include center-center();
    border-radius: 5px;
    box-shadow:
        0px 0px 5px rgba($color: #000, $alpha: 0.3),
        0px 3px 1px rgba($color: $theam-color, $alpha: 1);
    backdrop-filter: blur(5px);
    transition: 0.15s;

    a {
        .wraper {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 5px;
            margin: 3px;
            padding: 3px 5px;
        }
    }

    &:hover {
        transform: translate(0, -2px);
        box-shadow:
            0px 0px 5px rgba($color: #000, $alpha: 0.3),
            0px 5px 1px rgba($color: $theam-color, $alpha: 1);
        transition: 0.15s;
    }
}

.experience-box {
    display: flex;
    border-radius: 5px;
    overflow: hidden;

    .img {
        @include center-center();

        img {
            width: 100%;
            height: 200px;
            aspect-ratio: 1/1 !important;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            overflow: hidden;
        }
    }

    .matter {
        .role {
            font-size: 30px;
            font-weight: 550;
        }
    }
}

.text-justify {
    text-align: justify !important;
}

.firstLetterEffect {
    font-size: 35px !important;
    font-weight: 650;
    color: $theam-color;
}

.firstLetterEffect-red {
    font-size: 35px !important;
    font-weight: 650;
    color: $theam-color-2;
    text-shadow: 0 0 3px #222;
}

.custom-indicators {
    height: 12px !important;
    width: 12px !important;
    border-radius: 50%;
    background-color: $theam-color !important;
}

.whatIProvideCard {
    @include center-center();
    user-select: none;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    width: 240px !important;
    height: 200px !important;
    padding: 20px 25px;
    border-radius: 8px;
    box-shadow:
        0 3px 0 rgba($color: $theam-color, $alpha: 0.3),
        0 0 10px rgba($color: #000000, $alpha: 0.3);
    position: relative;
    top: 0px;
    transition: 0.15s;

    .icon {
        font-size: 22px;
        user-select: none;
    }

    button {
        all: unset;
        cursor: pointer;
        font-weight: bold;
        color: $custom-gray;
        font-size: 15px;
        border: 1px solid transparent;
        transition: all 0.3s;
    }

    &:hover {
        top: -5px;
        box-shadow:
            0 6px 0 rgba($color: $theam-color, $alpha: 1),
            0 0 10px rgba($color: #000000, $alpha: 0.3);
        transition: 0.15s;

        button {
            background-color: $theam-color;
            color: #fff;
            transition: all 0.3s;
        }
    }
}

.transparent-effect {
    background-color: rgba($color: #fff, $alpha: 0.35);
    backdrop-filter: blur(10px);
}

.transparent-effect-thin {
    background-color: rgba($color: $theam-color, $alpha: 0.35);
    backdrop-filter: blur(6px);
}

.transparent-effect-thin-red {
    background-color: rgba($color: $theam-color-2, $alpha: 0.35);
    backdrop-filter: blur(6px);
}

.custom-input-style {
    background-color: rgba($color: #fff, $alpha: 0.3);
    width: 100%;
    outline: none;
    border: 1px solid $theam-color;
    padding: 8px 7px;
    color: $theam-color;
    transition: 0.3s;

    &:focus {
        transition: 0.3s;
        box-shadow: 0px 2px 3px -1px rgba($color: $theam-color, $alpha: 0.8);
    }
}

.custom-input-style-2 {
    background-color: rgba($color: $theam-color-2, $alpha: 0.1);
    backdrop-filter: blur(5px);
    width: 100%;
    outline: none;
    border: 1px solid $theam-color-2;
    padding: 8px 7px;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;

    &:focus {
        transition: 0.3s;
        border-color: transparent;
        box-shadow: 0 0 5px 1px rgba($color: $theam-color-2, $alpha: 1);
    }

    &::selection {
        background-color: $theam-color-2;
    }
}

.testimonial-card {
    max-width: 300px;
    display: block;
    margin: 0 auto;

    .main-container {
        background-color: $theam-color;
        padding: 25px 15px;
        border-top-left-radius: 35%;
        border-bottom-right-radius: 35%;
        color: #fff;

        .stars-wrapper {
            svg {
                fill: #fff;
                filter: drop-shadow(2px 2px 0 rgba($color: #fff, $alpha: 0.5));
            }
        }

        .sign-area {
            width: 100%;
            margin-left: -40%;

            span {
                @include font-cursive();
                font-size: 23px;
                letter-spacing: 1px;
                display: flex;
                align-items: center;
                word-break: keep-all;
                gap: 10px;

                &::before {
                    content: "";
                    height: 2px;
                    width: 25%;
                    background-image: linear-gradient(to right, #6a59d1, #ffffff);
                    display: block;
                }
            }
        }
    }

    &::before {
        content: "";
        background-image: url("../assets/quotation-mark.svg");
        background-size: cover;
        display: block;
        height: 40px;
        width: 40px;
        position: relative;
        transform: translate(0px, 10px);
    }

    &::after {
        content: "";
        background-image: url("../assets/quotation-mark-reverse.svg");
        background-size: cover;
        display: block;
        height: 40px;
        width: 40px;
        margin-left: auto;
        position: relative;
        transform: translate(5px, -5px);
    }

    *::selection {
        background: #fff;
        color: $theam-color;
    }
}

.mainFooter,
.mainFooter-red {
    background: linear-gradient(to bottom, #171717c4, #3b3b3b3f, #77777700, #b9b9b900, #ffffff00), $theam-color;
    user-select: none;
}

.mainFooter-red {
    background-image: url("../assets/circle-scatter-haikei-3.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.shadow-md-white {
    box-shadow: 0 3px 10px 3px rgba($color: #000, $alpha: 0.25);
    fill: #201c36;
}

.newsLetterForm,
.newsLetterForm-red {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    input,
    button {
        border-radius: 10rem;
        border: 2px solid $theam-color;
        padding: 10px 20px;
        font-weight: 350;
        backdrop-filter: blur(5px);

        &:focus {
            outline: none;
        }
    }

    input {
        border-top-right-radius: 10rem;
        background-color: rgba($color: $theam-color, $alpha: 0.3);
        color: #fff;
        min-width: 300px;
        box-shadow:
            0 0 3px #0000009b,
            inset 0 -1px 10px rgba($color: #222, $alpha: 0.5);

        &::placeholder {
            color: #ccc;
        }

        &::selection {
            background-color: rgba($color: #fff, $alpha: 0.3);
        }
    }

    button {
        margin-top: 2px;
        background-color: rgba($color: $theam-color, $alpha: 0.45);
        color: #fff;
        text-transform: uppercase;
        box-shadow:
            0 0 3px #0000009b,
            inset 0 -1px 10px rgba($color: #000, $alpha: 0.7);
    }
}

.newsLetterForm-red {
    input,
    button {
        border-color: $theam-color-2;
    }

    input {
        background-color: rgba($color: $theam-color-2, $alpha: 0.3);
    }

    button {
        background-color: rgba($color: $theam-color-2, $alpha: 0.45);
    }
}

.nav-padding {
    padding-top: 60px;
}

.text-white {
    color: #fff !important;
    fill: #fff !important;

    * {
        color: white;
    }
}

.custom-footer-links {
    a {
        span {
            transition: 0.3s ease-in-out;
        }
    }

    &:hover {
        a {
            span {
                margin-left: 5px;
                transition: 0.3s ease-in-out;
            }
        }
    }
}

.twinkling-stars-background {
    background-image: url("../assets/circle-scatter-haikei-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
