@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./variables.scss";
@import "./animation.scss";

* {
    font-family: "Poppins", sans-serif !important;
}

*::selection {
    background-color: $theam-color;
    color: #fff;
}

.btn-reset {
    all: unset;
    cursor: pointer;

    &:focus {
        box-shadow: none;
    }
}

.mainNav {
    background-color: rgba($color: #fff, $alpha: 0.3);
    box-shadow: 0 1px 3px rgba($color: #000000, $alpha: 0.3);
    backdrop-filter: blur(5px);
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

.icon-btn-shaded {
    @include bg-theam();
    @include center-center();
    height: 35px;
    width: 35px;
    border-radius: 5px;
    box-shadow: 3px 3px 0 rgba($color: $theam-color, $alpha: 0.5);
    transition: 0.1s;

    span {
        line-height: 1;
        color: #fff;
        font-size: 18px;
    }

    &:hover {
        transform: scale(1.1);
        transition: 0.1s;
    }
}

.line-height-1 {
    line-height: 1;
}

.theam-btn-big {
    @include bg-theam();
    text-decoration: none;
    padding: 12px 17px;
    border-radius: 10px;
    display: flex;
    gap: 3px;
    width: fit-content;
    box-shadow: 3px 3px 0 rgba($color: $theam-color, $alpha: 0.5);
    transition: 0.1s;

    span {
        color: #fff;
        font-size: 23px;
        line-height: 1;

        &:nth-child(2) {
            font-size: 16px;
            @include center-center();
        }
    }

    &:hover {
        transform: scale(1.03);
        transition: 0.1s;
    }
}

.shadow-text {
    position: relative;
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    margin: 0 auto;

    span {
        text-transform: capitalize;

        &:first-child {
            position: relative;
            z-index: -1;
            font-size: 60px;
            font-weight: 800;
            line-height: 50px;
            background-image: linear-gradient(to bottom, #dddddd, #e5e5e5, #eeeeee, #f6f6f6, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &:nth-child(2) {
            position: relative;
            z-index: 0;
            font-size: 40px;
            font-weight: 800;
            color: var(--firstcolor);
            line-height: 1;
        }
    }

    p {
        top: calc(1rem + 0.7rem);
        left: 5.8rem;
        position: relative;
        background-color: var(--secondcolor);
        height: 0.5rem;
        width: 7.3rem;
        z-index: 2;
        font-weight: 600;
    }
}

.width-fit {
    width: fit-content !important;
}

.line-height-1-1 {
    line-height: 1.1;
}

.border-color-theam {
    border-color: $theam-color !important;
}

.user-select-none {
    user-select: none;
}

.home-scren-1st-vh {
    height: calc(100vh - 56px);

    img {
        width: 80%;
        object-position: center;
    }
}

#skills {
    background-image: url("../assets/protruding-squares.svg");
    background-attachment: fixed;
}

.skill-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

    .skill-box {
        @include center-center();
        border-radius: 7px;
        transition: 0.15s;
        user-select: none;

        .wrapper {
            @include center-center();
            flex-direction: column;
            background: #fff;
            margin: 3px;
            height: 120px;
            width: 120px;
            border-radius: 5px;
            box-shadow: 3px 3px rgba($color: #000, $alpha: 0.7);
            transition: 0.15s;
            gap: 5px;

            .icon {
                svg {
                    font-size: 35px;
                    color: var(--svg-color);
                }
            }
        }

        &:hover {
            transition: 0.15s;
            transform: translate(-3px, -3px);

            .wrapper {
                box-shadow: 5px 5px rgba($color: #000, $alpha: 0.7);
                transition: 0.15s;
            }
        }
    }
}

.shaded-box {
    background-color: rgba($color: #fff, $alpha: 0.6);
    backdrop-filter: blur(5px);
}

.shaded-box {
    ul [role="presentation"] {
        .active {
            background-color: $theam-color !important;
            border: 0;
            color: #fff;
            padding: 5px 13px;
            text-transform: uppercase;
            border-radius: 5px;
            box-shadow: 3px 3px rgba($color: $theam-color, $alpha: 0.5);
            font-weight: 600;
        }
    }
}

.btn-reset-0 {
    border: 0;
    background-color: transparent;
}

.up-left-shadow-effect {
    box-shadow: 3px 3px rgba($color: $theam-color, $alpha: 0.5);
}

#navbarSupportedContent {
    :not(.active) {
        font-weight: 450;
        text-transform: uppercase;
    }

    .active {
        font-weight: 500;
    }
}

.detailsBox-v2 {
    @include center-center();
    border-radius: 5px;
    box-shadow:
        0px 0px 5px rgba($color: #000, $alpha: 0.3),
        0px 3px 1px rgba($color: $theam-color, $alpha: 1);
    backdrop-filter: blur(5px);
    transition: 0.15s;

    a {
        .wraper {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 5px;
            margin: 3px;
            padding: 3px 5px;
        }
    }

    &:hover {
        transform: translate(0, -2px);
        box-shadow:
            0px 0px 5px rgba($color: #000, $alpha: 0.3),
            0px 5px 1px rgba($color: $theam-color, $alpha: 1);
        transition: 0.15s;
    }
}

.experience-box {
    display: flex;
    border-radius: 5px;
    overflow: hidden;

    .img {
        @include center-center();

        img {
            width: 100%;
            height: 200px;
            aspect-ratio: 1/1 !important;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            overflow: hidden;
        }
    }

    .matter {
        .role {
            font-size: 30px;
            font-weight: 550;
        }
    }
}

.text-justify {
    text-align: justify !important;
}

.firstLetterEffect {
    font-size: 35px !important;
    font-weight: 650;
    color: $theam-color;
}

.custom-indicators {
    height: 12px !important;
    width: 12px !important;
    border-radius: 50%;
    background-color: $theam-color !important;
}

.whatIProvideCard {
    @include center-center();
    user-select: none;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    width: 240px !important;
    height: 200px !important;
    padding: 20px 25px;
    border-radius: 8px;
    box-shadow:
        0 3px 0 rgba($color: $theam-color, $alpha: 1),
        0 0 10px rgba($color: #000000, $alpha: 0.3);
    position: relative;
    top: 0px;
    transition: 0.15s;

    .icon {
        font-size: 22px;
        user-select: none;
    }

    button {
        all: unset;
        cursor: pointer;
        font-weight: bold;
        color: $custom-gray;
        font-size: 15px;
    }

    &:hover {
        top: -5px;
        box-shadow:
            0 6px 0 rgba($color: $theam-color, $alpha: 1),
            0 0 10px rgba($color: #000000, $alpha: 0.3);
        transition: 0.15s;
    }
}
