@import './variables.scss';

@media screen and (max-width: 768px) {
    .shadow-text {
        span {
            &:first-child {
                font-size: 40px;
            }

            &:nth-child(2) {
                font-size: 30px;
            }
        }
    }

    .testimonial-custom-font {
        font-size: 3rem;
        text-align: center;
    }

    .whatIProvideCard {
        width: 160px !important;
        height: 180px !important;
        padding: 15px 15px !important;
    }

    .skill-box-container {
        .skill-box {
            .wrapper {
                height: 95px !important;
                width: 95px !important;

                .icon {
                    svg {
                        font-size: 28px !important;
                    }
                }

                .text {
                    font-size: 14px !important;
                }
            }
        }
    }

    .work-card-custom {
        .detailed-controller {
            .controller-btn {
                height: 30px;
                width: 30px;
                svg {
                    font-size: 14px !important;
                }
            }
        }
    }
}