@media screen and (max-width: 768px) {
    .shadow-text {
        span {
            &:first-child {
                font-size: 40px;
            }

            &:nth-child(2) {
                font-size: 30px;
            }
        }
    }

    .testimonial-custom-font {
        font-size: 3rem;
        text-align: center;
    }
}
