@import "./variables.scss";

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $custom-gray;
}

::-webkit-scrollbar-thumb {
    background: $theam-color;

    &:hover {
        background: rgba($color: $theam-color, $alpha: 0.85);
    }
}
