$theam-color: #6a59d1;
$gray-light: #e3e1ef;
$custom-gray: #808080;

@mixin bg-theam() {
    background-color: $theam-color !important;
}

@mixin text-theam() {
    color: $theam-color !important;
}

.bg-theam {
    @include bg-theam();
}

.text-theam {
    @include text-theam();
}

@mixin center-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

