@import "./variables.scss";
@import "./main.scss";

.gradientLayer {
    background-color: transparent;
    background-image: linear-gradient(
        180deg,
        #00182900 0,
        #00182926 15%,
        #00182959 29%,
        #00182944 44%,
        #001829 68%,
        #001829
    );
    background-position: 0 top;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    bottom: 0;
    height: 14.7vw;
    opacity: 1;
    top: auto;
    width: 100%;
    left: 0;
    position: absolute;
    right: 0;
}

#work_svg_bg {
    background-image: url("../assets/work-page-svg.svg");
    min-height: 75dvh;
    position: relative;
    background-attachment: fixed;
}

.custom-strip-scroller {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    scroll-behavior: smooth;

    .controller {
        display: block;
        height: 100%;
        position: absolute;
        z-index: 1;

        button {
            all: unset;
            height: 100%;
            padding: 0 10px;
            background-color: rgba($color: #000000, $alpha: 0.6);
            color: #fff;
            font-size: 2rem;
            transition: 0.2s;
            cursor: pointer;
            display: block;
        }

        &:first-child {
            left: 0;
        }

        &:last-child {
            right: 0;
        }
    }

    .work-card-custom {
        height: 200px;
        width: 100%;
        min-width: 400px;
        display: flex;
        justify-content: center;
        position: relative;
        padding-right: 15px;
        border-radius: 5px;

        img {
            border-radius: 5px;
            object-position: center center;
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
        }

        &::after {
            content: "";
            height: 100%;
            width: calc(100% - 15px);
            display: block;
            background-image: linear-gradient(to top, #000000aa, #12121280, #77777700, #b9b9b900, #ffffff00);
            position: absolute;
            border-radius: 5px;
        }

        .detailed-controller {
            position: absolute;
            bottom: 0;
            right: 15px;
            z-index: 1;
            padding: 0.5rem;
            width: calc(100% - 15px);

            .controller-btn {
                @include center-center();
                background-color: $theam-color;
                border: 0;
                height: 35px;
                width: 35px;
                border-radius: 50%;

                svg {
                    color: #fff;
                }
            }
        }

        &:last-child {
            padding-right: 0;

            &::after {
                content: "";
                height: 100%;
                width: calc(100%);
                display: block;
                background-image: linear-gradient(to top, #000000aa, #12121280, #77777700, #b9b9b900, #ffffff00);
                position: absolute;
                border-radius: 5px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .custom-strip-scroller {
        align-items: center !important;

        .controller {
            height: unset;

            button {
                padding: 0;
            }
        }
    }
}
